
	<p class="site-desc">"Did you just wait on the rudest table of your life? That lady just snapped her fingers to get your attention? Do you wish that you actually did have 8 arms!? You're in the right place, a safe place where you can vent anonymously with other Service Industry people!"</p>

	<div class="new-post-container">
		<p class="new-post">Tell Us Your Story:</p>
		<form action="/posting" method="POST">
		<textarea name="[post]body" id="txt-area" placeholder="..."></textarea><br/>
		<input type="submit" id="post-input" value="Post">
		</form>
	</div>

	<div class="feed-container">
		<p class="feed-header">Recent Stories</p>
		
		<div class="feed-body">
			<% @new_posts.each do |p| %>
				<p class="feed-body-user">By <%= p.user ? p.user.user_name : "unkown" %></p>
				<p class="feed-body-text"><%= p.body %></p>
			<% end %>
		</div>
	</div>

		<% @users.each do |user| %>
	<p><a href="/users/<%= user.id %>"><%= user.user_name %></a>
<%  if current_user and current_user != user %>
	<% if current_user and !current_user.following.include?(user) %>
		(<a href="/follow/<%= user.id %>">Follow!</a>)
	<%  else %>
		(<a href="/unfollow/<%= user.id %>">Unfollow!</a>)
		<% end %>	
	<% end %>		
	</p>
<% end %>	




