<h1>Home Page</h1>
<h1>Create a new post:</h1>
<form action="/posting" method="POST">
	<p>
		<label for="body">Type your message</label>
		<input type="text" name="[post]body"><br/>
	</p>
	<input type="submit" value="Post">
</form>

	<% @new_posts.each do |p| %>
	<p><%= p.body %> by <%= p.user ? p.user.user_name : "unkown" %></p>
	<% end %>


	<% @users.each do |user| %>
	<p><a href="/users/<%= user.id %>"><%= user.user_name %></a>
<%  if current_user and current_user != user %>
	<% if current_user and !current_user.following.include?(user) %>
		(<a href="/follow/<%= user.id %>">Follow!</a>)
	<%  else %>
		(<a href="/unfollow/<%= user.id %>">Unfollow!</a>)
		<% end %>	
	<% end %>		
	</p>
<% end %>	
